.Entry > button {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 12px;
    background-color: white;
    color: var(--error-color);
}

.Entry > input {
    border-radius: 8px;
    padding: 8px;
    font-size: 1em;
    border: none;
    outline: none;
    box-shadow: var(--card-1);
    transition: box-shadow ease 0.2s;
    margin: 4px;
}

.Entry > input:hover {
    box-shadow: var(--card-3);
}

.Entry > select {
    box-shadow: var(--card-1);
    transition: box-shadow ease 0.2s;
    padding: 8px;
}

.Entry > select:hover {
    box-shadow: var(--card-3);
}