.Selection {
    margin-top: 50px;
    margin-bottom: 64px;
    height: calc(100vh - 114px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Selection > p {
    width: 90%;
    max-width: 768px;
    margin-top: 16px;
    text-align: center;
}

.Selection-Modal {
    display: flex;
    flex-direction: column;
    border-top: 50px solid var(--primary);
}

.Selection-Modal > input[type=text] {
    padding: 12px;
    color: var(--gray);
    border: 0.5px solid var(--table-gray);
    outline: none;
    font-size: 1.2em;
}