.Selection {
    margin-top: 50px;
    margin-bottom: 64px;
    height: calc(100vh - 114px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Selection > p {
    width: 90%;
    max-width: 768px;
    margin-top: 16px;
    text-align: center;
}

.Selection-Modal {
    display: flex;
    flex-direction: column;
}

.Selection-Modal > input[type=text] {
    padding: 12px;
    color: var(--gray);
    border: 0.5px solid var(--table-gray);
    outline: none;
    font-size: 1.2em;
}

.Selection-Modal-Appbar {
    display: flex;
    height: 50px;
    background-color: var(--primary);
    align-items: center;
    padding-right: 4px;
    padding-left: 8px;
}

.Selection-Modal-Appbar > input[type=text] {
    padding: 6px;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 1.2em;
    margin-right: 4px;
}

.Selection-Modal-Appbar > button {
    height: 35px;
    margin-right: 4px;
}

.final {
    margin-left: auto;
}