* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    --primary-light: #cfccff;
    --primary: #6C63FF;
    --primary-dark: #463AFF;
    --dark-tan: #111;
    --gray: #666; 
    --light-white: #F7F7F7;
    --table-gray: #9DA7B0;
    --table-header: #1A1F25;
    --error-color: #ff5039;
    --accent: #28B463;

    --card-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --card-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    --card-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    --card-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    --card-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

    padding: 0;
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--light-white);
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--dark-tan);
}

p {
    color: var(--gray);
}

button {
    background-color: white;
    color: var(--primary-dark);
    border: none;
    outline: none;
    padding: 0px 8px;
    height: 40px;
    border-radius: 8px;
    margin: 4px;
    cursor: pointer;
    font-size: 0.9em;
    font-family: "Lato", sans-serif;
    font-weight: bold; 
    box-shadow: var(--card-1);
    transition: 0.2s ease box-shadow;
}

button:hover {
    box-shadow: var(--card-4);
}

button:active {
    box-shadow: var(--card-1);
}

/* Form Elements */
select {
    padding: 12px;
    font-size: 1em;
    width: 200px;
    margin: 8px;
    border-radius: 6px;
    border: none;
    box-shadow: var(--card-1);
    outline: none;
    cursor: pointer;
    color: var(--gray);
    transition: 0.2s ease box-shadow;
}

select:hover {
    box-shadow: var(--card-3);
}
  