
.Modal {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    transition: 1s all ease;
}

.Backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
    width: 100vw;
    height: 100vh;
    z-index: 98;
    transition: 1s all ease;
}